<footer>
	<nav>
	    <a href="https://github.com/x659732">github.io</a>&nbsp;
	    <a href="https://x659732.github.io/web215/index.html">web215.io</a>&nbsp;
	    <a href="https://x659732.github.io/web250/index.html">web250.io</a>&nbsp;
	     
	    <a href="https://www.codecademy.com/profiles/Djohn114">Codecademy</a>&nbsp;
	    <a href="https://jsfiddle.net/user/djohn114/fiddles">JSFiddle</a>&nbsp;
	    <a href="https://www.freecodecamp.org/djohn114">freeCodeCamp</a>&nbsp;
	    <a href="https://www.linkedin.com/in/demetrius-johnson-ab6551249/">LinkedIn</a>&nbsp;
		
	</nav>
	   
	   <p> Page built by Wall Trowelers</p>
	   <p class="motto"> Building Walls and Removing Barriers</p>
    
		<a href="http://validator.w3.org/check?uri=referer" id = "link_html">
		 <img src="images/validHTML.gif" width="88" height="31" alt="Validate webpage HTML." >
	 </a>
 
	 <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "link_css">
		 <img src="images/validCSS.gif" width="88" height="31" alt="Validate webpage CSS." >
	 </a>
	 <script>
		 document.getElementById("link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		 document.getElementById("link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
 </script> 
		 <br/>
 </footer>
