@charset "utf-8";

html {
	background: url(../images/herb1.jpg);
	background-repeat: no-repeat;
	background-size: 100% ;
	
}

body{
	color: rgb(91,91,91);
	background-color: #ede4d3;
	font-family: "open sans", Verdana, Geneva, sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	min-width: 320px;
	height:100%;
	width: auto;
	
}


body > header {
	display: block;
	width: 100%;
	height:auto;
	margin-top:0;
}
body {
	
	outline: 7px solid orange;
}

/* Heading Styles */

h1 {
	font-size: 2.5em;
	text-align: center;
	padding: .2em;
	text-indent: .75em;
	color: #F1F1F1;
	-webkit-text-stroke: .25px black;
	background-color:#BA895C;	
	outline: 3.5px solid orange;
}
h2 {
	font-size: 1.75em;
	text-align:center;
	color: #991e00;
	-webkit-text-stroke: .13px black;
	text-decoration:none;
	
	
}
h3 {
	text-align:center;
	font-size: 1.5em;
}

h1, h2 {
	letter-spacing: 0.1em;
}
p {
	
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1em;
}

main a:visited {color: green;}
main a:hover {color: orange;}
main a{
text-decoration: none;
}
figure { text-align: center;}
li a:visited {color: green;}
main > p > ul > li a:hover {color: orange;}
main > p > ul > li a:visited {color: orange;}


/* Footer Styles */
footer{
   padding-top: .2em;
   padding-bottom: .2em;
   color: #F1F1F1;
   height:auto;
   background-color:#BA895C;
   font-size: 1.2em;
   margin-bottom: 0; 
   text-align: center;
   outline: 3.5px solid orange;   
}
nav > a {font-size: .85em;}
footer a{
	color: #F1F1F1;
	text-decoration:underline;
}
footer p{
  font-style: oblique;
  margin:0;
  padding:0;
	
}
footer a:visited{
color: green;

}
footer > nav {
	margin:0;
}
footer a:hover{
color: orange;
}
