@charset "utf-8";

html {
	background-color: #365347;
	
}

body{
	color: rgb(91,91,91);
	background-color: #ede4d3;
	font-family: "open sans", Verdana, Geneva, sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	min-width: 320px;
	min-height:100%;
	width: auto;
	
}


body > header {
	display: block;
	width: 100%;
	height:auto;
	margin-top:0;
}
body {
	
	outline: 3px solid orange;
}

/* Heading Styles */

h1 {
	font-size: 2.5em;
	text-align: left;
	padding: .2em;
	text-indent: .75em;
	color: #F1F1F1;
	-webkit-text-stroke: .25px black;
	background-color:#BA895C;	
	outline: 2px solid orange;
}
h2 {
	font-size: 1.75em;
	text-align:center;
	color: #991e00;
	-webkit-text-stroke: .13px black;
	text-decoration:none;
	
	
}
h3 {
	text-align:center;
	font-size: 1.5em;
}

h1, h2 {
	letter-spacing: 0.1em;
}
body > main > p {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

/* Footer Styles */
footer{
   color: #F1F1F1;
   height:auto;
   background-color:#654528 ;
   font-size: 1.5em;
   margin-bottom: 0; 
   text-align: center;
   outline: 2px solid orange;
   position: absolute;
   
}
footer a{
	color: #F1F1F1;
	text-decoration:none;
}
